html {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	color: #333;
	margin: 0;
	/* border: 0.5px solid transparent; 解决边框塌陷 */
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  border: 0;
  transition: .1s;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
}

.exhibit_item .removebtn:hover + .bezier_item.plain {
	background-color: rgb(190, 46, 221, 0.5);
}

.removebtn:hover + .bezier_item.plain .path.plain,
.removebtn:hover + .bezier_item.plain .path2dot.plain {
  stroke: #ffffff;
}

.removebtn:hover + .bezier_item.plain .dot.plain {
  fill: #ffffff;
}

.bezier_item.plain:hover + p, .footer .exhibition .exhibit_item .bezier_item.plain:hover + .edit-name {
  color: rgba(190, 46, 221, 0.5);
}
.bezier_item.plain.is-active + p, .footer .exhibition .exhibit_item .bezier_item.plain.is-active + .edit-name {
  color: rgb(190, 46, 221);
}

.bezier_item.plain:hover ~ .forsee {
  visibility: visible;
}
.bezier_item.plain:hover ~ .forsee > .rightl, .exhibit_item > .removebtn:hover ~ .forsee > .rightl {
  transform: rotate(-135deg);
}
.bezier_item.plain:hover ~ .forsee > .leftl, .exhibit_item > .removebtn:hover ~ .forsee > .leftl {
  transform: rotate(135deg);
}
